### Object Oriented Programming
Semua di Python adalah object seperti list, string, dict, float, tuple dll<br>
**_di Pyhton, object disebut Class_**

In [2]:
print(type([]))
print(type({}))
print(type('Aku adalah Putra Sang Fajar'))
print(type(22))
print(type(3.14))
print(type(()))
print(type(True))
print(type(None))

<class 'list'>
<class 'dict'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>

OOP memungkinkan kita membuat object kita sendiri, termasuk Methods, dan Atrributesnya<br>
kita bisa membuat object object yang berbeda fungsinya dan tjuan akhirnya bisa digabung untuk menjadi sebuh program yang utuh

### Mendefinisikan Class

In [9]:
class Contoh:
    pass

In [10]:
me = Contoh()
type(me)

__main__.Contoh

In [30]:
class Karakter:
    def __init__(self, name, role):
        self.name = name
        self.role = role

In [32]:
karakter_saya = Karakter('Renaldi Dwi Saputra', 'Data Scientist')
karakter_saya.name

'Renaldi Dwi Saputra'

In [23]:
karakter_saya2 = Karakter('Serra', 'The Operator')
karakter_saya2.name

'Serra'

In [68]:
class PersonalData:
    # class object attributes (attributes ini bersifat global untuk class PersonalData)
    kampus = 'Universitas Negeri Malang'
    
    def __init__(self):
        self.name = "Renaldi Dwi Saputra"
        self.role = "Data Scientist"
        self.language_spoken = ["rd_ID", "en_US"]

    def say_hai(self):
        print('Thanks for dropping by, hope you find some of my work interesting.')

    def keterangan(self, tech= 'Python'):
        print('Nama saya adalah {}. Saya lulusan S1 dari {} , Saya sedang mencari kerja sebagai {}. Saya bisa 2 bahasa yaitu {} dan mahir dalam bahasa pemrograman {}'.format(self.name, self.kampus, self.role, self.language_spoken, tech))

In [69]:
me = PersonalData()

In [70]:
PersonalData.kampus

'Universitas Negeri Malang'

In [71]:
me.say_hai()

Thanks for dropping by, hope you find some of my work interesting.

In [72]:
me.keterangan()

Nama saya adalah Renaldi Dwi Saputra. Saya lulusan S1 dari Universitas Negeri Malang , Saya sedang mencari kerja sebagai Data Scientist. Saya bisa 2 bahasa yaitu ['rd_ID', 'en_US'] dan mahir dalam bahasa pemrograman Python

In [73]:
me.keterangan('SQL')

Nama saya adalah Renaldi Dwi Saputra. Saya lulusan S1 dari Universitas Negeri Malang , Saya sedang mencari kerja sebagai Data Scientist. Saya bisa 2 bahasa yaitu ['rd_ID', 'en_US'] dan mahir dalam bahasa pemrograman SQL

#### Program Matematika

In [132]:
class Lingkaran:
    # koefisien
    phi = 22/7
    
    def __init__(self, radius):
        self.radius = radius
        self.luas = 2*self.phi*radius**2
        self.keliling = 2*self.phi*radius
    
    # def keliling(self):
    #     return 2*self.phi*self.radius

    # def luas(self):
    #     return 2*self.phi*self.radius**2

In [133]:
keliling1 = Lingkaran(14)

In [139]:
keliling1.keliling

88.0

In [140]:
keliling1.luas

1232.0

## Inheritance
Class induk dan Class turunan

In [141]:
class Mahasiswa:
    status = 'mahasiswa'

    def __init__(self, name, nim, jurusan):
        self.name = name
        self.nim = nim 
        self.jurusan = jurusan

    def keterangan(self):
        print('Saya {} {} semester 5 jurusan {} dengan nim {}'.format(self.name ,self.status, self.jurusan, self.nim))

In [156]:
Serra = Mahasiswa('Serra', 180322,'Fisika')

In [157]:
Serra.keterangan()

Saya Serra mahasiswa semester 5 jurusan Fisika dengan nim 180322

In [178]:
class nilai(Mahasiswa):
    
    def __init__(self, name, nim, jurusan):
        super().__init__(name, nim, jurusan) #Mahasiswa.__init__(name, nim, jurusan) --sama
        self.nilai_update = []

    def input_nilai(self, baru):
        return self.nilai_update.append(baru)

In [179]:
Sora = nilai('Sora', 180321, 'Data')

In [180]:
Sora.keterangan()

Saya Sora mahasiswa semester 5 jurusan Data dengan nim 180321

In [181]:
Sora.input_nilai(80)

In [182]:
Sora.nilai_update

[80]